<% if (val != null){ %>
<tr class="row">
  <th class="col-1"><%= val.id %></th>
  <td class="col-2"><%= val.mess %></td>
  <td class="col-3"><%= val.tno %></td>
  <td><%= val.equipId %></td>
  <td><%= val.dt %></td>
  <%
      var d = new Date(val.createdAt);
      var dstr = d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + 
        d.getDate() + ' ' + d.getHours() + ':' + d.getMinutes() + 
        ':' + d.getSeconds();
      %>
  <td><%= dstr %></td>
</tr>
<% } %>
